
<div>
    <h2>Chat Global</h2>
    <form id="form-msg">
    <label for="input"></label>
    <input type="text" class="form-control" id="input">
    <input type="submit" class="btn btn-outline-primary"></input>
    </form>
</div>

</div id="all-msgs">
<p id="all-msg"></p>
</div>




