<div class="error-header"> </div>
<div class="container ">
    <section class="error-container text-center">
        <h1>500</h1>
        <div class="error-divider">
            <h2>ooops!!</h2>
            <br>
            <p class="description">ALGO SALIDO MAL AL PROCESAR TU SOLICITUD</p>
            <br>
            <h5>{{message}}</h5>
             <br>
        </div>
        <p>Regresar al <a href="/login" class="return-btn">Home</a></p>
    </section>
</div>